body
{ 
    width: 100%;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3;
}

@media (min-width: 544px) {  
    h1 {font-size:2rem;}
  }
  @media (min-width: 768px) {  
    h1 {font-size:2.5rem;}
  }
  @media (min-width: 992px) { 
    h1 {font-size:3rem;}
  }

h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

p
{
    color: #8f8f8f;
}

.container-fluid
{
    padding: 2% 7%;
}

/* Title Section */
#title
{
    background-color: #f2d974;
    color: #41494d;
}
/* Navigation Bar */
.navbar
{
    padding: 0 0 3rem;
}
.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size:1.5rem;
    color: #41494d;
}
.nav-item
{
    padding: 0 10px;
}
.nav-link
{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,.5);
}
.nav-link:hover
{
    color: black;
}
/* Download Buttons */
.download-button
{
    margin: 5% 3% 2% 0;
}

/* Title Image */
.title-image
{
    width: 78%;
    transform: rotate(10deg);
    padding-bottom: 30px;
}

@media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }

/* Features Section */
#features
{
    background-color: #fbf6f0;
    padding: 6% 10%;
}
.feature-box
{
    text-align: center;
    padding: 3%;
}
.feature-icon
{
    color: #f2d974;
    margin-bottom: 1rem;
}
.feature-icon:hover
{
    color: #dbbd44;
}

/* whatsapp-teleram Section */
#whatsapp-telegram
{
    background-color: #f2d974;
    padding: 0.5%;
    text-align: center;
    color: #41494d;
}
.wt-image
{
    width: 75%;
    padding-bottom: 20px;
}
#whatsapp
{
    padding-bottom: 1rem;
}
#telegram
{
    padding-bottom: 1rem;
}
.wt-des
{
    color: #393e46;
}

/* Testimonials */
#testimonials
{
    background-color: #fbf6f0;
    text-align: center;
    height: 50%;
}
.testimonial-image
{
    border-radius: 100%;
    margin: 2%;
}
.carousel-item
{
    padding: 7% 10%;
}
.slide-button
{
    color: #41494d;
    padding: 0 3%;
}

/* Download */
#download
{
    padding: 4% 10%;
    background-color: #f2d974;
    text-align: center;
    color: #41494d;
}

/* Contact */
#contact
{
    background-color: #fbf6f0;
    padding: 4% 20%;
    text-align: center;
}

#footer
{
    padding: 2% 10%;
    text-align: center;
    background-color: #f2d974;
}
